.custom-input {
  padding: 12px 16px 12px 44px !important;
  border: 2px solid #121214 !important;
  border-radius: 8px !important;
  background: #121214 !important;
  color: #E1E1E6 !important;
}

.custom-input:focus {
    border-color: #00B37E;
    box-shadow: 0 0 0 3px rgba(0, 179, 126, 0.15);
}

.p-checkbox-input {
  background-color: #00B37E !important;
}