.example-container {
  max-width: 440px;
  max-height: 360px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #A8C686;
  border: solid 1px #46501D;
  border-radius: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

mat-form-field {
  background-color: #46501D;
}