<div class="container">
      <div class="logo-container">
        <div class="logo-icon">
          <div class="logo-rouded">
            <i class="pi pi-dollar" style="font-size: 1rem; font-weight: bold; color: white;"></i>
          </div>
        </div>
        <h2>Bem-vindo de volta!</h2>
        <p>Acesse seu controle financeiro</p>
      </div>

      <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-56">
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-wrapper">
            <span>
              <i class="pi pi-envelope"></i>
            </span>
            <input pInputText type="email" id="email" placeholder="seu@email.com" formControlName="email" [invalid]="isInvalid('email')" />
            @if (isInvalid('email')) {
                @if (exampleForm.get('email')?.errors?.['required']) {
                    <p-message severity="error" size="small" variant="simple">Email é obrigatório.</p-message>
                }
                @if (exampleForm.get('email')?.errors?.['email']) {
                    <p-message severity="error" size="small" variant="simple">Por favor insira um Email válido.</p-message>
                }
            }
          </div>
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>
            <div class="input-wrapper">
              <span>
                <i class="pi pi-lock"></i>
              </span>
              <input pInputText type="text" id="senha" placeholder="••••••••" formControlName="senha" [invalid]="isInvalid('senha')" />
              @if (isInvalid('senha')) {
                  <p-message severity="error" size="small" variant="simple">senha é obrigatória.</p-message>
              }
            </div>
        </div>

        <div class="options-group">
            <label class="checkbox-wrapper">
                <p-checkbox [binary]="true" />
                <span class="checkbox-text">Manter conectado</span>
            </label>
            <a href="#" onclick="alert('Funcionalidade de recuperação será implementada'); return false;">Esqueci minha senha</a>
        </div>

        <button pButton severity="secondary" type="submit"><span pButtonLabel>Entrar</span></button>
    </form>

    <div class="divider">
      <span>ou</span>
    </div>

    <div class="signup-link">
        Não tem uma conta? <a href="#" onclick="alert('Funcionalidade de cadastro será implementada'); return false;">Cadastre-se</a>
    </div>

    <div class="security-badge">
      <i class="pi pi-shield"></i>
      Seus dados estão protegidos
    </div>

  </div>